.marquee {
    white-space: nowrap;
    overflow: hidden;
    display: block;
    width: 100%;
    background: #000000;
    padding: 10px 0;
}

.marquee span {
    display: inline-block;
    padding-left: 100%;
    animation: marquee 10s linear infinite; /* 2 detik (lebih cepat) */
}

@keyframes marquee {
    from { transform: translateX(100%); }
    to { transform: translateX(-100%); }
}
